WCF/04_duplex_local/ClientCS/Connected Services/GabekoreApiService/Gabekore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceIF.ObjIF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceIF.ObjIF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArgClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgClass" nillable="true" type="tns:ArgClass" />
  <xs:complexType name="RetClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetClass" nillable="true" type="tns:RetClass" />
  <xs:complexType name="ArrayOfArgClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArgClass" nillable="true" type="tns:ArgClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArgClass" nillable="true" type="tns:ArrayOfArgClass" />
  <xs:complexType name="ArrayOfRetClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RetClass" nillable="true" type="tns:RetClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRetClass" nillable="true" type="tns:ArrayOfRetClass" />
</xs:schema>