WCF/03_single_appconfig/ClientCS/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/Gabekore?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/Gabekore?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/Gabekore?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8081/Gabekore?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Interface" />
      <xsd:import schemaLocation="http://localhost:8081/Gabekore?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UseOverLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:UseOverLoad" />
  </wsdl:message>
  <wsdl:message name="IService_UseOverLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseOverLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalcPlus_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcPlus" />
  </wsdl:message>
  <wsdl:message name="IService_CalcPlus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcPlusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalcMinus_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcMinus" />
  </wsdl:message>
  <wsdl:message name="IService_CalcMinus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcMinusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UsetTuple_InputMessage">
    <wsdl:part name="parameters" element="tns:UsetTuple" />
  </wsdl:message>
  <wsdl:message name="IService_UsetTuple_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsetTupleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UseClass_InputMessage">
    <wsdl:part name="parameters" element="tns:UseClass" />
  </wsdl:message>
  <wsdl:message name="IService_UseClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UseListClass_InputMessage">
    <wsdl:part name="parameters" element="tns:UseListClass" />
  </wsdl:message>
  <wsdl:message name="IService_UseListClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseListClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UseArray_InputMessage">
    <wsdl:part name="parameters" element="tns:UseArray" />
  </wsdl:message>
  <wsdl:message name="IService_UseArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/HelloWorld" message="tns:IService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/HelloWorldResponse" message="tns:IService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseOverLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UseOverLoad" message="tns:IService_UseOverLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UseOverLoadResponse" message="tns:IService_UseOverLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcPlus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalcPlus" message="tns:IService_CalcPlus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalcPlusResponse" message="tns:IService_CalcPlus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcMinus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalcMinus" message="tns:IService_CalcMinus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalcMinusResponse" message="tns:IService_CalcMinus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsetTuple">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UsetTuple" message="tns:IService_UsetTuple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UsetTupleResponse" message="tns:IService_UsetTuple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UseClass" message="tns:IService_UseClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UseClassResponse" message="tns:IService_UseClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseListClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UseListClass" message="tns:IService_UseListClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UseListClassResponse" message="tns:IService_UseListClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UseArray" message="tns:IService_UseArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UseArrayResponse" message="tns:IService_UseArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseOverLoad">
      <soap:operation soapAction="http://tempuri.org/IService/UseOverLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcPlus">
      <soap:operation soapAction="http://tempuri.org/IService/CalcPlus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcMinus">
      <soap:operation soapAction="http://tempuri.org/IService/CalcMinus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsetTuple">
      <soap:operation soapAction="http://tempuri.org/IService/UsetTuple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseClass">
      <soap:operation soapAction="http://tempuri.org/IService/UseClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseListClass">
      <soap:operation soapAction="http://tempuri.org/IService/UseListClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseArray">
      <soap:operation soapAction="http://tempuri.org/IService/UseArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8081/Gabekore/SayHello" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>